li {
  list-style: none;
  color: black;
}



@font-face {
font-family: 'Georgia';
src: url('Georgia.tff.eot?') format('tff'),

}
* {
  margin: 0;
  padding: 0;
  font-family: 'Georgia'
}


/****************************************************header************************************************/

header {
  height: 50px;

  box-shadow: 2px 0 2px black
}

#navbas button img{
  width: 20px;

}

#navbas button {
  border: none;
}

#navbas .logo {
  width: 200px;


}
#navbas .logo, #navbas .panier{
  position: relative;
  bottom:15px;
}

#navbas .panier {
  width: 30px;
}

#navbas a .badge{
  position: relative;
  bottom: 30px;
  border-radius:  50%;
  background-color: #B35860;
}

#navbarSupportedContent {
  position: absolute;
  left: 0;
  height : 300px;
  top : 60px;
  background-image: url(../img/background/bg.png);
  width: 80%;
  max-width: 450px;
  height: 100vh;
  padding: 15px;
}

#navbarSupportedContent a {
  font-size: 12px;
}
/******************************************main********************************************/

main h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
}

main {
  background-image: url(../img/background/bg2.png);
}

main .taille {
  flex-wrap: wrap;
  width: 91%;
  margin: auto;

}



main .nav-pills .nav-link.active
{
  background-color: #4A4A4C ;
  background-image: none;
}

main .nav-pills .nav-link {
font-size: 16px;
line-height: 1.42857;
color: #555;
box-shadow: inset 0 0 3px rgba(68,68,68,0.08);
background-image: url(../img/background/bg.png);
margin-right: 10px;
margin-bottom: 10px;
width: 62px;
height: 26px;
text-align: center;
font-size: 12px;

}

main .nav-pills .nav-link:hover {
  background-color: #4A4A4C ;
  background-image: none;
  color: white;
}

/**********************gallerie*************************************/
.home figure {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
}

.home figure img {
  width: 95%

}

.home figure h4 {
  box-shadow: inset 0 0 3px rgba(68,68,68,0.08);
  background-image: url(../img/background/bg.png);
  border-radius : 3px;
  width : 50px;
  font-size: 12px;
  padding: 5px;
  margin-left: auto;
}

.home figure figcaption {
  text-align: center;
  color: #555555;
font-style: italic;
font-size: 12px;
}

.home figure a:hover {
  text-decoration: none;
}

.home figure ul {
  display: none;
}

/*****************************************************************footer*****************************/

footer {

  background-image: url(../img/background/bg2.png)
}

#footli li {
  font-size: 10px;
  line-height: 1.5;
  text-align: center;

}

#footli li a {

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 30px;
  color: #999


}

#footli li:hover a {
  text-decoration: none;
  color: #555
}


.fab, .livraison, .paiement, .adresse {
  height: 80px;
  width: 80px;
  background-size: 100%;
  background-repeat: no-repeat;


}
#footli .livraison {
  background-image: url(../img/pictos/picto_livraison3.png);
  position: relative;
  top:20px;

}

#footli .adresse {
  background-image: url(../img/pictos/picto_adresse1.png);

}

#footli .fab {

  background-image: url(../img/pictos/picto_fabrication1.png);

}

#footli .paiement {

  background-image: url(../img/pictos/picto_paypal1.png);
  position: relative;
  top:20px;

}



#footli li:hover .fab {
  background-image: url(../img/pictos/picto_fabrication.png);
}

#footli li:hover .livraison {
  background-image: url(../img/pictos/picto_livraison2.png);


}

#footli li:hover .adresse {
  background-image: url(../img/pictos/picto_adresse2.png);

}

#footli li:hover .paiement {

  background-image: url(../img/pictos/picto_paypal2.png);

}



#footli img {
  width: 60px;
}

footer {
  text-align: center;
}

#newsletter input {
  width: 80%;
  height: 30px;
}

#newsletter button {
  height: 30px;
  width: 30px;
  border-radius: 0;
  font-size: 11px;
  padding: 0;
  background-color: white;
  border-color: #ccc
}

#newsletter button:hover {
  background-color: #B9D6DB
}

#webdesign, #newsletter, #cgv a {
  font-size: 11px;
  font-style: italic;
  text-decoration: none;
  color: #555;
}
