li {
  list-style: none;
  color: black;
}



@font-face {
font-family: 'Georgia';
src: url('Georgia.tff.eot?') format('tff'),

}
* {
  margin: 0;
  padding: 0;
  font-family: 'Georgia'
}


/****************************************************header************************************************/

header {
  height: 50px;

  box-shadow: 2px 0 2px black
}

#navbas button img{
  width: 20px;

}

#navbas button {
  border: none;
}

#navbas .logo {
  width: 200px;


}
#navbas .logo, #navbas .panier{
  position: relative;
  bottom:15px;
}

#navbas .panier {
  width: 30px;
}

#navbas a .badge{
  position: relative;
  bottom: 30px;
  border-radius:  50%;
  background-color: #B35860;
}

#navbarSupportedContent {
  position: absolute;
  left: 0;
  height : 300px;
  top : 60px;
  background-image: url(../img/background/bg.png);
  width: 80%;
  max-width: 450px;
  height: 100vh;
  padding: 15px;
}

#navbarSupportedContent a {
  font-size: 12px;
}
/******************************************main********************************************/

main h1 {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
}

main {
  background-image: url(../img/background/bg2.png);
}

main .taille {
  flex-wrap: wrap;
  width: 91%;
  margin: auto;

}



main .nav-pills .nav-link.active
{
  background-color: #4A4A4C ;
  background-image: none;
}

main .nav-pills .nav-link {
font-size: 16px;
line-height: 1.42857;
color: #555;
box-shadow: inset 0 0 3px rgba(68,68,68,0.08);
background-image: url(../img/background/bg.png);
margin-right: 10px;
margin-bottom: 10px;
width: 62px;
height: 26px;
text-align: center;
font-size: 12px;

}

main .nav-pills .nav-link:hover {
  background-color: #4A4A4C ;
  background-image: none;
  color: white;
}

/**********************gallerie*************************************/
.home figure {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
}

.home figure img {
  width: 95%

}

.home figure h4 {
  box-shadow: inset 0 0 3px rgba(68,68,68,0.08);
  background-image: url(../img/background/bg.png);
  border-radius : 3px;
  width : 50px;
  font-size: 12px;
  padding: 5px;
  margin-left: auto;
}

.home figure figcaption {
  text-align: center;
  color: #555555;
font-style: italic;
font-size: 12px;
}

.home figure a:hover {
  text-decoration: none;
}

.home figure ul {
  display: none;
}

/*****************************************************************footer*****************************/

footer {

  background-image: url(../img/background/bg2.png)
}

#footli li {
  font-size: 10px;
  line-height: 1.5;
  text-align: center;

}

#footli li a {

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-bottom: 30px;
  color: #999


}

#footli li:hover a {
  text-decoration: none;
  color: #555
}


.fab, .livraison, .paiement, .adresse, .facebook, .twitter {
  height: 80px;
  width: 80px;
  background-size: 100%;
  background-repeat: no-repeat;


}
#footli .livraison {
  background-image: url(../img/pictos/picto_livraison3.png);
  position: relative;
  top:20px;

}

#footli .adresse {
  background-image: url(../img/pictos/picto_adresse1.png);

}

#footli .fab {

  background-image: url(../img/pictos/picto_fabrication1.png);

}

#footli .paiement {

  background-image: url(../img/pictos/picto_paypal1.png);
  position: relative;
  top:20px;

}



#footli li:hover .fab {
  background-image: url(../img/pictos/picto_fabrication.png);
}

#footli li:hover .livraison {
  background-image: url(../img/pictos/picto_livraison2.png);


}

#footli li:hover .adresse {
  background-image: url(../img/pictos/picto_adresse2.png);

}

#footli li:hover .paiement {

  background-image: url(../img/pictos/picto_paypal2.png);

}



#footli img {
  width: 60px;
}

footer {
  text-align: center;
}

#newsletter input {
  width: 80%;
  height: 30px;
}

#newsletter button {
  height: 30px;
  width: 30px;
  border-radius: 0;
  font-size: 11px;
  padding: 0;
  background-color: white;
  border-color: #ccc
}

#newsletter button:hover {
  background-color: #B9D6DB
}

#webdesign, #newsletter, #cgv a {
  font-size: 11px;
  font-style: italic;
  text-decoration: none;
  color: #555;
}

/**************************************************fin accueil*************************************/
@media (min-width: 760px) {
  /********************************************accueil************************************/
  /***********************main*************************/
  .home figure ul {
    display: flex;
    justify-content: center;
  }

  .home figure ul li {
    background-color: #FDEB1D;
    color: white;
    font-size: 10px;
    margin: 5px;
    height: 30px;
  }

  .home figure ul li hr {
    margin: 0;
  }

  /***********************fin main*************************/
  /***********************footer*************************/
footer {
  align-items: center;
}

#cgv, #newsletter, #webdesign{
  display: flex;

  align-items: center;
  /*width: 30%;*/
  height: 100px;

}

  #footli li a {


    flex-flow: row nowrap;
    font-size: 14px;
    font-style: italic;

}

#footli li {

  display: flex;

}

#footli li a {
  background-color: #F5F4F3;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.08)

}

#footli .facebook {

  background-image: url(../img/pictos/picto_facebook1.png);

}

#footli .twitter {

  background-image: url(../img/pictos/picto_twitter1.png);

}



#footli li:hover .facebook {
  background-image: url(../img/pictos/picto_facebook2.png);
}

#footli li:hover .twitter {
  background-image: url(../img/pictos/picto_twitter2.png);
}

}

/*******************************************fin footer*********************************/

@media (min-width: 960px) {

  header {
    background-image: url(../img/background/bg.png);
    height: auto;
    box-shadow: none;

  }


  #navchaussette {
    width: 90%;

  }

  #navchaussette img {
    width: 30%;
  }

  #navchaussette li p{
    font-style: italic;



  }

  #navchaussette li a {
    display: flex;
    width: 131%;
    height: 60px;
    color: #a2a2a2;
background-color: rgba(0,0,0,0.05);
  }

  #navchaussette li .nav-link.active {
    background-color: white;
    color: #555;
  }

  #navchaussette li:hover a {
    color: #555;
  }

  #navchaussette li span {
    font-size: 9px;
  }

  #papier {
    background-image: url(../img/background/ticket-repeat.png);
    height: 190px;
    margin-bottom: 30px;
    background-size: cover;
    width: 320px;

    /*display: flex;
    flex-flow: row wrap;*/
  }

  #papier p {
    font-style: italic;
font-size: 12px;
text-align: center;

  }
color: #555555
  #papier .port {
    width: 90%;
  }

  #papier select {
    background-color: #C47B81;
    font-size: 12px;
    width: 60px;
    height: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  #papier select option {
    background-color: #E0B3B8;
  }

  .papierdechire {
    background-image: url(../img/background/ticket-bas.png);
    height: 20px;
    width: 320px;
    background-size: cover;

  }

  .bienvenue, .bienvenue a, .fluo , .fluo a{
    color: #C47B81;
  }

  .bienvenue a, .fluo a {
    text-decoration: underline;
  }

  .bienvenue {
    margin-right : 20px;
    margin-top: 20px;
  }

  #papier .fluo {
    background-image: url(../img/background/stabilo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 20px;
    font-size: 15px;
    font-style: normal;
    height: 70px;

  }

  #papier .fluo span {
    font-size: 50px;
    font-weight: bold;
    margin-right: 20px;
    position: relative;
  top : 20px;
  }

  .port {
    width:90%;
   }
header .navpc .nav-link.active {
  background-color: white;
  color: #555555;
}

header .navpc .nav-link {
  color :#a2a2a2;
  margin-right: 10px;
}



header .navpc .nav-link:hover {
  background-color: white;
  color: #555555;

}

}
